player-connection-mode=Listen
player-connection-guid=953381290
player-connection-debug=0
player-connection-project-name=Scenario A
player-connection-ip=10.212.134.207
player-connection-ip=100.96.96.56
player-connection-ip=192.168.1.226
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
