player-connection-mode=Listen
player-connection-guid=2588768295
player-connection-debug=0
player-connection-project-name=ObjectCollector
player-connection-ip=10.30.26.74
player-connection-ip=100.96.96.56
player-connection-ip=192.168.1.226
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
